{% extends 'base.html' %}

{% block content %}
    <form method="post">
        {% for field in form %}
            {% if not field == form.save %}
                <div>
                    {{ field.label }}
                    {{ field }}
                </div>
                {% if field.errors %}
                    <div style="font-size: 10px; color: red">{{ field.errors[0]}}</div>
                {% endif %}
            {% else %}
                <div>{{ field }}</div>
            {% endif %}
        {% endfor %}
    </form>
{% endblock %}
